html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #222;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg_pattern.png');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-size: contain;
    overflow-x: hidden;
}

.main-container {
    background-color: #222;
    height: 100%;
    padding: 3%;
    width: 100%;
    background-image: url('bg_pattern.png');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-size: contain;
}

.main-landing {
    background-color: #e6f6f0;
    width: 100%;
    height: 87%;
    border-radius: 34px;
    overflow: hidden;
}

.main-content {
    width: 50%;
    float: left;
    padding: 8% 5%;
    padding-right: 0;
}

.umkm {
    font-size: 24px;
    padding: 2px;
    font-family: 'Montserrat';
    font-weight: 00;
    margin: 0;
}

.description {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    padding: 3px;
    width: 75%;
    margin: 0px 0 20px 0;
}

.tagline {
    font-size: 42px;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.main-button {
    padding: 10px 14px 12px 18px;
    font-size: 15px;
    background-color: #222;
    border-radius: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.main-button svg {
    transform: rotate(270deg);
    padding-left: 2px;
}

.image-container {
    width: 50%;
    height: 100%;
    float: right;
    bottom: 0;
    padding: 6% 5% 0% 5%;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2vh solid #222;
    border-bottom: 0vh;
    object-fit: cover;
}

.navigation {
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
}

.main-navigation-display {
    background-color: #e6f6f0;
    margin: 20px auto;
    padding: 10px 64px;
    height: 60px;
    align-items: center;
    border-radius: 34px;
    position: absolute;
    display: flex;
    z-index: 100;
    width: 94%;
    /* transition-property: width;   transition: 1s; */
    left: 0;
    right: 0;
}

.sticky {
    margin: 20px auto;
    padding: 10px 64px;
    height: 40px;
    width: 70%;
    align-items: center;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /* transition-property: width;
    transition: 1s; */
    opacity: 0.7;
}

.subnav {
    text-align: center;
    width: 100%;
    margin: 0 10px;
    padding: 6px 12px 8px 10px;
    font-size: 15px;
    background-color: #222;
    border-radius: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.subnav a {
    font-family: 'Montserrat';
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.subnav.first {
    margin-left: 0;
}

.subnav.last {
    margin-right: 0;
}

.logo-subnav a {
    display: block;
    margin: 0 30px;
}

.logo-subnav a img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.about-container {
    background-color: #222;
    height: 100%;
    width: 100%;
    padding: 3% 0;
    background-image: url('bg_pattern.png');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-size: contain;
    /* Use flexbox for layout */
}

.about-container h1 {
    color: #e6f6f0;
    font-family: 'Syne';
    font-weight: 700;
    text-align: center;
}

.carousel-container {
    background-color: #222;
    height: 100%;
    width: 100%;
    padding: 2% 0;
    background-image: url('bg_pattern.png');
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-size: contain;
    display: flex;
    /* Use flexbox for layout */
}

.left-about {
    width: 520px;
    height: 80%;
    border-radius: 0px 60px 60px 0px;
    border: solid #e6f6f0 56px;
    background-color: #e6f6f0;
    border-left: 0;
}

.left-content {
    height: 100%;
    width: 100%;
    border-radius: 0 50px 50px 0;
    background: #e6f6f0 padding-box, linear-gradient(90deg, rgba(9, 9, 9, 1) 0%, rgba(34, 34, 34, 1) 35%, rgba(0, 0, 0, 1) 100%) border-box;
    border: solid #222222 14px;
    border-left: 0;
    padding: 7% 5%;
}

.left-content h4 {
    font-weight: 700;
    font-family: 'Syne';
    font-size: 32px;
}

.panel-about {
    width: 14%;
    height: 80%;
    margin: 0 5%;
    border-radius: 60px;
    border: solid #e6f6f0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-indicators [data-bs-target] {
    background-color: #222 !important;
    height: 5px;
    width: 100%;
    border-radius: 20px;
    background-clip: unset;
    margin: 30px 0;
}

.controlpan {
    width: 40%;
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    background-color: #e6f6f0;
    border-radius: 30px;
    top: 0;
    left: unset;
    flex-direction: column;
}

.controlpan button {
    top: 0;
    width: 300px;
    height: 10px;
    bottom: 0;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.right-about {
    width: 520px;
    height: 80%;
    align-items: center;
    background-color: #e6f6f0;
    border-radius: 60px 0px 0px 60px;
    padding: 70px 0px 70px 70px;
}

.right-content {
    width: 100%;
    height: 100%;
    border-radius: 50px 0 0 50px;
    border: #222 solid 14px;
    border-right: 0;
}

.hidden-indicators {
    display: none !important;
}

@media (max-width: 480px) {
  .subnav a {
      color: black;
  }
    }
